@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    background-color: #0f181e;
    color: var(--accetnColor);
    --accetnColor: gold;
    font-family: "Modern Antiqua", serif;
    --secondary-color: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 2rem;
}

section {
    width: 50rem;


    p {
        text-align: center;
        margin: 3rem;
        margin: 15px;
        padding: 15px;
        text-align: center;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        color: var(--secondary-color);
    }

}

main {


    display: flex;
    justify-content: center;
    gap: 10rem;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;


        img {
            height: 500px;
            width: 500px;
            border-radius: 20px;
            margin: 30px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        }

        a {
            width: 25px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            text-decoration: none;

            p {
                color: #E2B500;
                font-size: 2rem;
                background-color: #0f181e;
                border: solid 2px;
                border-radius: 15px;
                padding: 10px 20px;
            }
        }

        @media (width < 600px) {
            display: flex;
            align-items: center;

        }

        }

        @media (width < 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
}

