@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    background-color: #0f181e;
    color: var(--accetnColor);
    --accetnColor : gold;
    font-family: "Modern Antiqua", serif;;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

header {
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        padding-top: 30px;

        #Chapitre4 {
            color: var(--accetnColor);
            font-size: 2rem;
        }

        p {
            color: white;
            font-size: 3rem;
            text-align: center;
        }
    }
}

main {
    #catTalking {
        margin: 30px;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: left;
        border-radius: 20px;
        background-color: rgba(155, 155, 155, 0.281);
        box-shadow: 0 0 30px 10px rgb(0, 0, 0);
        margin-bottom: 100px;

        #catPP {
            border-radius: 100px;
            width: 150px;
            margin: 10px;
            border: 4px solid #0f181e;
        }

        p {
            color: white;
            padding: 20px;
            font-size: 2rem;
        }
    }

    #choice {
        width: 100vw;
        min-height: 500px;
        display: flex;
        justify-content: center;
        ul {
            width: 100%;
            max-width: 1500px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 10px;
            li {
                width: 30%;
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 10px;                
                .imgContainer {
                    width: 100%;
                    aspect-ratio: 1/1;
                    border: 4px solid black;
                    overflow: hidden;
                    border-radius: 10%;
                    .choiceImg {
                        transition: opacity 0.5s ease, transform 0.5s ease;
                        backface-visibility: hidden;
                        img {
                            display: flex;
                        }
                    }
                    .backImg {
                        transform: scaleX(-1);
                        transition: opacity 0.5s ease, transform 0.5s ease;
                        backface-visibility: hidden;
                        background-color: rgba(155, 155, 155, 0.281);
                        height: 100%;
                        width: 100%;
                        display: flex;
                        padding: 15px;
                        p {
                            color: white;
                            font-size: 2rem;
                        }
                    }
                }
                a {
                    margin: 50px 0;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    .choiceButton {
                        background-color: aquamarine;
                        color: white;
                        text-align: center;
                        font-size: 2rem;
                        padding: 10px 20px;
                        background-color: rgb(20, 20, 20);
                        border: var(--accetnColor) solid 2px;
                        border-radius: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

footer {
    width: 100vw;
    section {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: var(--accetnColor);
            font-size: 1.5rem;
        }
    }
}

/* animation : */

.card {
    perspective: 1000px; /* Applique la perspective au conteneur parent */
}

.choiceButton {
    transition: 0.5s;
    scale: 1;
    box-shadow: none;
}

.choiceButton:hover {
    scale: 1.1;
    box-shadow: 0 0 15px 0 var(--accetnColor);
}

.imgContainer {
    perspective: 1000px;
    scale: 1;
    transition: 0.5s;
    box-shadow: none;
    .choiceImg {
        img {
            transform: translateX(-20px);
            transition: 0.5s;
            height: 110%;
            width: 110%;
        }
    }
}

.imgContainer:hover {
    scale: 1.05;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.658);
    .choiceImg {
        img {
            transform: translateX(20px);
            zoom: 10%;
            height: 100%;
            width: 100%;
        }
    }
}

.imgContainer.flipped {
    transform: rotateY(180deg); /* Effectuer la rotation du conteneur */
}

.imgContainer.flipped .choiceImg {
    display: none; /* Masquer l'image de face */
}

.imgContainer.flipped .backImg {
    display: flex; /* Rendre visible l'image de dos */
}