@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    background-color: #0f181e;
    color: var(--accetnColor);
    --accetnColor : gold;
    font-family: "Modern Antiqua", serif;;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height:100vh;
}

header {
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        padding-top: 30px;

        #Chapitre4 {
            color: var(--accetnColor);
            font-size: 2rem;
        }

        p {
            color: white;
            font-size: 3rem;
            text-align: center;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #catTalking {
        line-height: 2.5rem;
        max-width: 1000px;
        margin: 30px;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: left;
        border-radius: 20px;
        background-color: rgba(155, 155, 155, 0.281);
        box-shadow: 0 0 30px 10px rgb(0, 0, 0);
        margin-bottom: 100px;

        #catPP {
            border-radius: 100px;
            width: 150px;
            margin: 10px;
            border: 4px solid #0f181e;
        }

        p {
            color: white;
            padding: 20px;
            font-size: 2rem;
        }
    }   
    #gameSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p {
            font-size: 2rem;
        }
        .play-button {
            transition: 0.5s;
            scale: 1;
            box-shadow: none;
            display: flex;
            margin: 50px 0;
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 2rem;
            padding: 20px 30px;
            background-color: rgb(20, 20, 20);
            border: var(--accetnColor) solid 2px;
            border-radius: 15px;
            cursor: pointer;
        }
        .play-button:hover {
            scale: 1.1;
            box-shadow: 0 0 15px 0 var(--accetnColor);
        }
    }
}

/* animation */

