@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Modern+Antiqua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    background-color: #0f181e;
    color: var(--accetnColor);
    --accetnColor : gold;
    font-family: "Modern Antiqua", serif;;
}

* {
    box-sizing: border-box;
    margin: auto;
}

body {
    height: 100vh;
    width: 100vw;
}

main {

    
    height: 100%;
    width: 100%;
    background-image: url(../ASSETS/DALL·E\ 2024-11-28\ 09.55.01\ -\ Un\ village\ fantaisiste\ de\ chats\ anthropomorphes\ situé\ dans\ une\ vallée\ verdoyante\,\ attaqué\ par\ des\ poulets\ géants.\ Les\ chats\,\ habillés\ comme\ des\ villag.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    
    h1 {
        background-color: #0f181e;
        text-align: center;
        padding: 1rem;
        background: rgba(10, 10, 10, 0.7);
        margin-bottom: 0;
        margin-top: 20px;
        border-radius: 15px;
    }

    section {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(4px);
        border-radius: 18px;
        width: 1048px;
        height: 250px;
        margin-left: 15px;

        p {
            color: black;
            margin: 15px;
            padding: 15px;
            text-align: left;
            font-weight: bold;
            font-size: 22px;
        }

    }

    a {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        

        p {
            color: #E2B500;
            font-size: 2rem;
            background-color: #0f181e;
            border: solid 2px;
            border-radius: 15px;
            padding: 10px 20px;
            
        }
        p:hover {
            color: #0f181e;
            background-color: #E2B500;
        }
    }
}